<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   autoReload="true"
	   throwExceptions="false"
	   internalLogLevel="Info"
	   internalLogFile="C:\Users\dogusa\OneDrive - VESTEL ELEKTRONIK SAN. TIC. A.S\Documents\nlog-internal.log">



		<targets>
			
			<!-- Performans için eşzamansız dosya günlüğü kaydıe -->
			<target xsi:type="AsyncWrapper" name="asyncFileWrapper" overflowAction="Discard">
				<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
						layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
			</target>

			<!-- Gerçek zamanlı izleme için konsol hedefi -->
			<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />
			
		</targets>


		<!-- Günlükleme kuralları -->
		<rules>
			<logger name="*" minlevel="Trace" writeTo="asyncFileWrapper" /> <!-- Tüm günlükleri asenkron dosya hedefine yaz -->
			<logger name="*" minlevel="Info" writeTo="console" />	<!-- Console ve dosya hedeflerine günlükleme kuralları -->
		</rules>


	</nlog>

</configuration>